# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache/*
/storage/logs/*
/storage/framework/*
/storage/debugbar
/storage/oauth-private.key
/storage/oauth-public.key

# Laravel Environment Files
.env
.env.backup
.env.production

# IDE & Editor Config Files
/.phpunit.cache
/.phpunit.result.cache
/.phpstorm.meta.php
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Composer & NPM Files
/composer.lock
/package-lock.json
/yarn.lock
/npm-debug.log
/yarn-error.log
/auth.json

# Docker & Deployment Config (jika ada)
/.docker
/docker-compose.yml

# Test Coverage Reports & Debugging Files
/coverage/
/phpunit.xml
/tests/_output/

/Homestead.json
/Homestead.yaml

# Laravel Nova (jika menggunakan Nova)
/nova

# Other
database/migrations/*_create_oauth_*.php